<footer class="section__footer">
  <div class="footer-container">
    <p class="foooter__copyright">&copy; 2020 POROS</p>
    <div class="footer__icon-container">
      <!-- <a href="#"
                ><img
                  src="https://static.ivqonsanada.com/poros/img/github-brands.svg"
                  alt="Github POROS"
                  class="footer__icon"
              /></a> -->
      <a href="#">
        <img
          src="https://static.ivqonsanada.com/poros/img/line-brands.svg"
          alt="Line POROS"
          class="footer__icon"
        />
      </a>
      <a href="https://www.instagram.com/porosfilkom/">
        <img
          src="https://static.ivqonsanada.com/poros/img/instagram-brands.svg"
          alt="Instagram POROS"
          class="footer__icon"
        />
      </a>
      <a href="https://www.youtube.com/channel/UC3Mh33VM0dwLlXiH_00qOJw/">
        <img
          src="https://static.ivqonsanada.com/poros/img/youtube-brands.svg"
          alt="Youtube POROS"
          class="footer__icon"
        />
      </a>
    </div>
  </div>
</footer>

<script src="/js/script.js"></script>
