<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="application-name" content="POROS" />

<meta name="theme-color" content="#ffffff" />

<meta
  name="description"
  content="POROS merupakan sebuah lembaga semi otonom yang mewadahi pengguna GNU/Linux serta perangkat lunak sumber terbuka yang bernaung di bawah FILKOM UB"
/>

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<!-- <meta name="google-site-verification" content="verification_token">
<meta name="yandex-verification" content="verification_token">
<meta name="msvalidate.01" content="verification_token">
<meta name="alexaVerifyID" content="verification_token">
<meta name="norton-safeweb-site-verification" content="norton_code"> -->
