<nav class="navbar fixed-top navbar-expand-lg navbar-light z--3 custom__navbar" id="navbar">
  <div class="navbar-container">
    <a class="navbar-brand custom__navbar-brand" href="index.html">
      <img src="images/logo poros.svg" alt="Logo POROS" class="custom__img-fluid" />
      <span class="navbar__logo--text">POROS</span>
    </a>

    <div
      class=" navbar-toggler custom__navbar-toggler hamburger-toggler fadeInMenu"
      onclick="hamburger()"
    >
      <div id="js-hamburger" class="hamburger hamburger--squeeze js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div id="hamburger-menu" class="hamburger-menu">
      <div class="hamburger-menu-container">
        <a class="hamburger-menu-link hamburger-menu-caption" href="./">Home</a>
        <a class="hamburger-menu-link hamburger-menu-caption" href="about.html">About</a>
        <a class="hamburger-menu-link hamburger-menu-caption" href="blogs.html">Blogs</a>
        <a class="hamburger-menu-link hamburger-menu-caption" href="findUs.html">Find Us</a>
        <a class="hamburger-menu-link hamburger-menu-button" href="#">Apply Now</a>
      </div>
    </div>

    <div class="collapse navbar-collapse desktop-only" id="navbarNavAltMarkup">
      <div class="navbar-nav custom__navbar-nav ml-auto">
        <a class="nav-item nav-link custom__nav-item custom__nav-link" href="./">Home</a>
        <a class="nav-item nav-link custom__nav-item custom__nav-link" href="about.html">About</a>
        <a class="nav-item nav-link custom__nav-item custom__nav-link" href="blogs.html">Blogs</a>
        <a class="nav-item nav-link custom__nav-item custom__nav-link" href="findUs.html"
          >Find Us</a
        >
        <a class="custom__button" href="#">Apply Now</a>
      </div>
    </div>
  </div>
</nav>
