.navbar {
  padding: 0.8rem 1.7rem;
  background-color: white;
  // -webkit-box-shadow: 0rem .5rem 1rem -0.5rem rgba(0,0,0,0.74);
  // box-shadow: 0rem .5rem 1rem -0.5rem rgba(0,0,0,0.74);
}

.navbar-brand {
  width: 2.8rem;
  height: auto;
}

.custom__navbar {
  padding: 0rem 0rem 0rem 2.5rem;

  @include respon(desktop) {
    padding: 1rem 20rem;
  }
}

.custom__navbar-toggler {
  border: none;
  padding: 0;
  &-icon {
    color: rgb(0, 0, 0);
    font-size: 2rem;
  }
}

.custom__navbar-nav {
  text-align: center;
}

.custom__nav-item {
  font-size: 1.5rem;

  @include respon(desktop) {
    &:not(:last-child) {
      margin: 0 2rem 0 0;
    }
  }
}

.custom__nav-link:hover {
  color: rgb(40, 170, 73);
}

.custom__button {
  background-color: rgb(40, 170, 73);
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  color: white;
  transition: all 0.3s ease;
  // width: 50%;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(37, 185, 74);
    transform: scale(1.1);
  }
}

// buat ngilangim EFFECT
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(40, 170, 73);
}

.navbar-light .navbar-nav .nav-link {
  transition: all 0.4s ease;
  color: black;
}

.navbar__logo--text {
  font-weight: 700;
  padding: 0 1rem;
  font-size: 2rem;
  position: absolute;
}

// HAMBURGER EFFECT
.visually-hidden {
  display: none;
}

.hamburger-toggler {
  z-index: 3;
}

.hamburger-menu {
  height: 100vh;
  position: fixed;
  bottom: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  // z-index: 1;
  background-color: white;

  transition: all 0.5s ease;
}

.visually-hidden:checked ~ .hamburger-menu {
  opacity: 1;
  bottom: 0;
}

.hamburger-menu-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.hamburger-menu-link {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  transition: all 0.4s ease;

  &:hover {
    text-decoration: none;
    color: rgb(40, 170, 73);
  }
}

.hamburger-menu-link:not(:last-child) {
  margin-bottom: 2rem;
}

.hamburger-menu-button {
  background-color: rgb(40, 170, 73);
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
  color: white;
  transition: all 0.3s ease;
  // width: 50%;

  &:hover {
    color: white;
    background-color: rgb(37, 185, 74);
    transform: scale(1.1);
  }
}
