.navbar {
  padding: 0.8rem 1.7rem;
}

.navbar-brand {
  width: 28px;
  height: auto;
}
.custom-btn {
  width: 40%;
  margin: 0 auto;
}
.navbar__logo--text {
  font-weight: 700;
  padding: 0 1rem;
  font-size: 1.5rem;
}
