/* Utilities */
.z--m1 {
  z-index: -1;
}
.z--0 {
  z-index: 0;
}
.z--1 {
  z-index: 1;
}
.z--2 {
  z-index: 2;
}
.z--3 {
  z-index: 3;
}

.no-overflow {
  overflow: hidden;
}

.underlined {
  background-image: linear-gradient(90deg, #ffd633, #ffd633);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 90%;
  padding: 0 1.5px 0 1.5px;
}

.box-shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mobile-only {
  display: unset;

  @include respon(desktop) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @include respon(desktop) {
    display: unset;
  }
}

svg {
  height: 60px;
  position: absolute;
  width: 60px;
  top: 2.5px;
  right: 5px;
}
.plate {
  height: 60px;
  width: 60px;
}
.burger {
  filter: url(#gooeyness);
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}
/* First plate */
.plate1 .line2 {
  stroke-dasharray: 40 200;
  stroke-dashoffset: 0px;
}
.plate1 .line3 {
  stroke-dasharray: 40 179;
  stroke-dashoffset: 0px;
}
.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.active.plate1 .line1 {
  transform: scale(0, 1);
  transition: transform 500ms 100ms;
}
.active.plate1 .line2 {
  stroke-dasharray: 5px 200;
  stroke-dashoffset: -164px;
}
.active.plate1 .line3 {
  stroke-dasharray: 5px 179;
  stroke-dashoffset: -142px;
}
.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

.pretend-container {
  position: relative;
  min-height: calc(100vh - 51.9833px);
  padding-top: calc(60.95px + 2.5rem);

  @include respon(desktop) {
    padding-top: 6rem;
  }
}