/*!!!!!!!!!!!!!!!!!!!!!!!!
 REMEMBER, NO PIXELS !!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* base */
html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Utilities */
.z--0 {
  z-index: 0;
}
.z--1 {
  z-index: 1;
}
.z--2 {
  z-index: 2;
}
.z--3 {
  z-index: 3;
}

.no-overflow {
  overflow: hidden;
}

/* navbar */
.navbar-brand {
  width: 8%;
  height: auto;
}
.custom-btn {
  width: 40%;
  margin: 0 auto;
}
.navbar__logo--text {
  font-weight: 700;
  padding: 0 1rem;
  font-size: 1.5rem;
}

/* header */
.header {
  position: relative;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}

.header__image-container {
  width: 85%;
  border-bottom-left-radius: 3rem;
  right: 0;
  top: 0rem;
  bottom: 2rem;
  position: absolute;
  /* overflow: hidden; */
  /* z-index: 1; */
}

.header__logo {
  width: 100%;
  height: 40rem;
  border-radius: 0 0 0 3rem;
  filter: grayscale(100%);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 30px;
}

.circle--lg {
  border-radius: 50%;
  background-color: rgb(40, 170, 73);
  width: 32.3rem;
  height: 32.3rem;
  position: absolute;
  left: -3.2rem;
  top: -7.5rem;
  /* transform: translate(-50%, -50%); */
  /* z-index: 0; */
}

.circle--xs {
  border-radius: 50%;
  background-color: rgb(255, 214, 51);
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
}
.header__caption-container {
  /* width: 80%;
    height: auto; */
  /* background-color: aquamarine; */
  position: absolute;
  bottom: 5rem;
  transform: translate(0%, 0%);
}
.header__caption {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.3rem 2rem;
  background-color: rgb(255, 214, 51);
  /* position: absolute; */
  width: max-content;
  font-size: 3.4rem;
}

.header__caption:first-child {
  margin-bottom: 0.5rem;
}

/*  SECTION ABOUT */
.section__about {
}

.about__container {
  padding: 0 2.5rem;
  text-align: justify;
}

.about__content {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5em;

  /* or 150% */
  /* text-align: justify; */
}

/* SECTION DEPARTEMEN */
.section__departemen {
  padding: 2.5rem;
  /* background-color: aquamarine; */
  height: 60rem;
}

.departemen__title {
  font-weight: 700;
  color: rgb(0, 128, 11);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.departemen__caption {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.departemen__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  row-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.departemen__card {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: .5rem; */

  box-shadow: .5rem .5rem 1rem .1rem rgba(0,0,0,0.3);
}

.departemen__card-image-container {
  width: 25%;
}
.departement__card-caption-container {
  width: 75%;
  margin: 1rem;
}

.departemen__card-logo {
  width: 100%;
  height: auto;
}

.departemen__card-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.departemen__card-caption {
  font-size: 1.3rem;
}

/* SECTION BANNER */

.section__banner-image {
  width: 100%;
}

.banner-img {
  width: 100%;
  height: auto;
}


/* SECTION JOIN US */

.section__join-us {
  /* background-color: salmon; */
  overflow: hidden;
  position: relative;
}
.join-us__caption-container {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  padding: 2.5rem 1rem;
  z-index: 1;
  position: relative;
}

.join-us__caption {
  /* buat ngilangin karena defaultnya ada marginnya */
  margin: 0; 
}

.join-us__button-group {
  width: 100%;
  margin: auto;
  color: coral;
  text-align: center;
  padding: 0 8.5rem;
  padding-bottom: 4.5rem;
  position: relative;
  z-index: 1;
}

.join-us__button, .join-us__button:hover{
  text-decoration: none;
  padding: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: .5rem;
  display: block;
}

.join-us__button-join, .join-us__button-join:hover {
  color: white;
}

.join-us__button-join {
  margin-bottom: 1.5rem;
  background-color: rgb(40, 170, 73);
  border: .2rem solid rgb(40, 170, 73);
}

.join-us__button-join:hover {
  background-color: rgb(37, 185, 74);
  border: .2rem solid rgb(37, 185, 74);
}

.join-us__button-more {
  color: rgb(40, 170, 73);
  background-color: white;
  border: .2rem solid rgb(40, 170, 73);
}

.join-us__button-more:hover {
  color: rgb(37, 185, 74);
  border: .2rem solid rgb(37, 185, 74);
}

.join-us__circle--md {
  background-color: rgb(255, 214, 51);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  left: 85%;
  z-index: 0;
}


/* SECTION FOOTER */
.section__footer {
  background-color: black;
}

.footer__image-container {
  width: 5rem;
  margin: auto;
  padding-top: 2rem;
}

.footer__logo {
  width: 100%;
}