/*
VALUE PARAMETER:                ABAIKAN INI SLUR!!!
-   phone
-   tb-pot      //tablet potrait
-   tb-land     //tablet landscape
-   big-d       //big desktop wkwk
//dan kita menggunakan em daripada rem karena em dan rem pada media query sama sama menganut pada 
//default font-size browser yang bisa diatur oleh user jadi kita menggunakan em (standarnya)
//karena 1rem dan 1em sama sama 16px (16px adalah default browser font-size)
maka logic = $breakpoint / 16px = ${hasil}em
URUTAN Menambah media query: base + typography -> layout & grid -> page layout -> component
*/
/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/* Utilities */
.z--0 {
  z-index: 0; }

.z--1 {
  z-index: 1; }

.z--2 {
  z-index: 2; }

.z--3 {
  z-index: 3; }

.no-overflow {
  overflow: hidden; }

.underlined {
  background-image: linear-gradient(90deg, #ffd633, #ffd633);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 90%;
  padding: 0 1.5px 0 1.5px; }

.section__footer-min {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: black;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer-min__icon-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .footer-min__icon-container {
      width: 10%; } }

.foooter-min__copyright {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 0;
  /* untuk reset */ }

.section__footer {
  background-color: black; }

.footer__image-container {
  width: 5rem;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 1rem; }

.footer__logo {
  width: 100%; }

.footer__media-container {
  width: 60%;
  /* background-color: thistle; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0 2.5rem 0;
  border-top: 0.1rem solid #fff; }

.footer__icon {
  width: auto;
  height: 2rem; }

.navbar {
  padding: 0.8rem 1.7rem; }

.navbar-brand {
  width: 28px;
  height: auto; }

.custom-btn {
  width: 40%;
  margin: 0 auto; }

.navbar__logo--text {
  font-weight: 700;
  padding: 0 1rem;
  font-size: 1.5rem; }

.about__illustration-container {
  width: 65%;
  margin: auto;
  padding: 2.5rem 0; }

.about__illust {
  width: 100%;
  height: auto; }

.about__content-container {
  padding: 0 2.5rem 0rem 2.5rem; }

.about__content--main {
  margin-bottom: 2rem; }

.about__title {
  font-weight: 700;
  color: #28aa49;
  font-size: 3rem;
  margin-bottom: 2rem; }

.about__caption {
  font-size: 1.3rem;
  text-align: justify; }

.blogs__circle--md {
  background-color: #ffd633;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 85%;
  left: 83%; }

.about__carousel-btn--hidden,
.about__carousel-btn--hidden:hover,
.about__carousel-btn--hidden:visited,
.about__carousel-btn--hidden:link {
  opacity: 0; }

.pretend-container {
  position: relative;
  min-height: calc(100vh - 5.19833rem); }

.about__carousel-container {
  margin: 3rem 0;
  border-radius: 1rem;
  overflow: hidden; }

.about__card {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: white;
  border: 0.2rem solid red;
  text-align: justify; }

.about__card:not(:last-child) {
  margin-bottom: 1rem; }

.about__card-title {
  font-size: 1.5rem;
  color: #28aa49;
  font-weight: 700; }

.about__card-caption {
  font-size: 1.3rem; }

.about__card-point-container {
  display: flex; }

.about__card-point-container:not(:last-child) {
  margin-bottom: 1rem; }

.about__card-point-number {
  margin: 0 1rem; }

.about__departemen-container {
  padding: 2.5rem 0; }

.about__departemen-title {
  font-weight: 700;
  color: #28aa49;
  font-size: 3rem;
  margin-bottom: 2rem; }

.about__img-bagan-container {
  width: 80%;
  margin: auto;
  padding: 1rem 0rem; }

.about__img-bagan {
  width: 100%; }

.about__departemen-card {
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #ffd633;
  margin-top: 2rem; }

.about__departemen-paragraph {
  font-size: 1.3rem;
  text-align: justify; }
  .about__departemen-paragraph--1 {
    margin-bottom: 2rem; }

.about__img-banner-container {
  padding: 0 0 5rem 0;
  width: 100%;
  margin: auto; }

.about__img-banner {
  width: 100%; }

.blogs__illustration-container {
  width: 65%;
  margin: auto;
  /* background-color: teal; */
  padding: 2.5rem 0; }

.blogs__illust {
  width: 100%;
  height: auto; }

.blogs__content-container {
  padding: 0 2.5rem; }

.blogs__content-title {
  font-weight: 700;
  color: #28aa49;
  font-size: 3rem;
  margin-bottom: 2rem; }

.blogs__content-caption {
  font-size: 3rem;
  font-weight: 700;
  position: relative; }

.blogs__content-text--1 {
  display: inline-block;
  margin-bottom: 0; }

.blogs__content-text--2 {
  display: block;
  position: relative;
  z-index: 1;
  margin-bottom: 0; }

.section__footer-min {
  width: 100%; }

.section__circle-container {
  width: 100%;
  min-height: 31vh;
  overflow: hidden;
  position: relative; }

.blogs__circle--md {
  background-color: #ffd633;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 85%;
  left: 83%;
  z-index: 0; }

.pretend-container {
  position: relative;
  min-height: calc(100vh - 51.9833px); }

/* 
*
* 
* HOMEPAGE PAGE
*
*
*/
/* navbar */
/* header */
.header {
  position: relative;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .header {
      width: 100%;
      height: 100vh; } }

.header__image-container {
  width: 85%;
  border-bottom-left-radius: 3rem;
  right: 0;
  top: 0rem;
  bottom: 2rem;
  position: absolute;
  /* overflow: hidden; */
  /* z-index: 1; */
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .header__image-container {
      width: 50%;
      height: 85%; } }

.header__logo {
  width: 100%;
  height: 40rem;
  border-radius: 0 0 0 3rem;
  filter: grayscale(100%);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .header__logo {
      height: 100%; } }

.circle--lg {
  border-radius: 50%;
  background-color: #28aa49;
  width: 32.3rem;
  height: 32.3rem;
  position: absolute;
  left: -3.2rem;
  top: -7.5rem;
  /* transform: translate(-50%, -50%); */
  /* z-index: 0; */
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .circle--lg {
      left: 55rem; } }

.circle--xs {
  border-radius: 50%;
  background-color: #ffd633;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 2rem;
  margin-left: 2rem; }

.header__caption-container {
  /* width: 80%;
      height: auto; */
  /* background-color: aquamarine; */
  position: absolute;
  bottom: 5rem;
  transform: translate(0%, 0%); }

.header__caption {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.3rem 2rem;
  background-color: #ffd633;
  /* position: absolute; */
  width: max-content;
  font-size: 3.4rem; }

.header__caption:first-child {
  margin-bottom: 0.5rem; }

/*  SECTION ABOUT */
.about__container {
  padding: 0 2.5rem; }

.about__content {
  font-style: normal;
  font-weight: normal;
  font-size: 1.65rem;
  line-height: 1.5em;
  /* or 150% */
  /* text-align: justify; */ }

/* SECTION DEPARTEMEN */
.section__departemen {
  padding: 2.5rem;
  /* background-color: aquamarine; */
  overflow: hidden;
  position: relative; }

.departemen__title {
  font-weight: 700;
  color: #28aa49;
  font-size: 3rem;
  margin-bottom: 2rem; }

.departemen__caption {
  font-size: 1.65rem;
  margin-bottom: 1.6rem; }

.departemen__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  row-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  position: relative;
  z-index: 1; }

.departemen__card {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: .5rem; */
  border: 2.5px solid #f2f2f2; }

.departemen__card-image-container {
  margin-left: 1rem;
  width: 25%; }

.departement__card-caption-container {
  width: 75%;
  margin: 1.5rem 1rem 1rem 1rem; }

.departemen__card-logo {
  width: 100%;
  height: auto; }

.departemen__card-title {
  font-size: 2rem;
  font-weight: 700; }

.departemen__card-caption {
  font-size: 1.35rem; }

.departemen__circle--md {
  background-color: #ffd633;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 18%;
  z-index: 0; }

.departemen__circle--sm {
  background-color: #28aa49;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 43%;
  left: 98%;
  z-index: 0; }

/* SECTION BANNER */
.section__banner-image {
  width: 100%; }

.banner-img {
  width: 100%;
  height: auto; }

/* SECTION JOIN US */
.section__join-us {
  /* background-color: salmon; */
  overflow: hidden;
  position: relative; }

.join-us__caption-container {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  padding: 2.5rem 1rem;
  z-index: 1;
  position: relative; }

.join-us__caption {
  /* buat ngilangin karena defaultnya ada marginnya */
  margin: 0; }

.join-us__button-group {
  width: 100%;
  margin: auto;
  color: coral;
  text-align: center;
  padding: 0 8.5rem;
  padding-bottom: 4.5rem;
  position: relative;
  z-index: 1; }

.join-us__button,
.join-us__button:hover {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  display: block; }

.join-us__button-join,
.join-us__button-join:hover {
  color: white; }

.join-us__button-join {
  margin-bottom: 1.5rem;
  background-color: #28aa49;
  border: 0.2rem solid #28aa49;
  box-shadow: 0 10px 20px rgba(40, 170, 73, 0.19), 0 6px 6px rgba(40, 170, 73, 0.23); }

.join-us__button-join:hover {
  background-color: #25b94a;
  border: 0.2rem solid #25b94a;
  transition: all 0.2s;
  transform: scale(1.05);
  box-shadow: 0 2.5px 5px rgba(37, 185, 74, 0.025), 0 7.5px 20px rgba(37, 185, 74, 0.2); }

.join-us__button-join:active {
  transition: all 0.2s;
  transform: scale(0.95);
  border: 0.2rem solid #28aa49;
  background-color: #28aa49;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.join-us__button-more {
  color: #28aa49;
  background-color: white;
  border: 0.2rem solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.join-us__button-more:hover {
  color: #25b94a;
  border: 0.2rem solid white;
  transition: all 0.2s;
  transform: scale(1.05);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.025), 0 7.5px 20px rgba(0, 0, 0, 0.2); }

.join-us__button-more:active {
  transition: all 0.2s;
  transform: scale(0.95);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.join-us__circle--md {
  background-color: #ffd633;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  left: 85%;
  z-index: 0; }

/* SECTION FOOTER */
/* 
  *
  * 
  * END OF HOMEPAGE PAGE
  *
  *
  */
/* 
*
* 
* FIND US SECTION
*
*
*/
.section__find-us {
  height: 100%;
  overflow: hidden;
  position: relative;
  min-height: calc(100vh - 60.1333px);
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .section__find-us {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 15rem 8rem 15rem; } }

/* ILLUSTRATION  */
.find-us__illustration-container {
  max-width: 20.678rem;
  margin: auto;
  /* background-color: teal; */
  padding: 1.5rem;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .find-us__illustration-container {
      padding: 0 3rem 0 0;
      margin: 0;
      max-width: 35rem; } }

.find-us__illust {
  width: 100%;
  height: auto; }

/*  */
/* FIND US CONTAINER  */
.find-us__content {
  padding: 0 1.6rem;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .find-us__content {
      padding: 0; } }

.find-us__content--main {
  margin-bottom: 2rem; }

.find-us__content-container {
  margin-bottom: 4rem;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .find-us__content-container {
      margin-bottom: unset; } }

.find-us__title {
  font-weight: 700;
  color: #28aa49;
  font-size: 3rem;
  margin-bottom: 2rem;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .find-us__title {
      font-size: 3.5rem; } }

.find-us__caption {
  font-size: 1.3rem;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .find-us__caption {
      font-size: 1.5rem; } }

.find-us__address {
  margin-bottom: 2rem; }

.find-us__address-title,
.find-us__email-title {
  font-size: 1.32rem;
  font-weight: 700;
  color: #808080;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .find-us__address-title,
    .find-us__email-title {
      font-size: 1.5rem; } }

.find-us__address-caption,
.find-us__email-caption {
  margin: 0;
  font-size: 1.3rem;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .find-us__address-caption,
    .find-us__email-caption {
      font-size: 1.5rem; } }

.find-us__address-link {
  color: #28aa49;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.3rem;
  /* 37.5 == 600px / 16px = 37.5 */ }
  .find-us__address-link:hover {
    color: #25b94a;
    text-decoration: none; }
  @media only screen and (min-width: 64em) {
    .find-us__address-link {
      font-size: 1.5rem; } }

.find-us__circle--md {
  background-color: #ffd633;
  border-radius: 50%;
  width: 16.9rem;
  height: 16.9rem;
  position: absolute;
  transform: translate(-50%, -75%);
  top: 100%;
  left: 85%;
  /* 37.5 == 600px / 16px = 37.5 */ }
  @media only screen and (min-width: 64em) {
    .find-us__circle--md {
      width: 25rem;
      height: 25rem;
      left: 95%; } }

/* SECTION FOOTER MIN */
