
// ILLUSTRATION //
.about__illustration-container {
    width: 65%;
    margin: auto;
    padding: 2.5rem 0;
}

.about__illust {
    width: 100%;
    height: auto;
}


//* ABOUT CONTAINER  */

.about__content-container {
    padding: 0 2.5rem;
}


// ABOUT CONTENT
.about__content--main {
    margin-bottom: 2rem;
}

.about__title {
    font-weight: 700;
    color: rgb(40, 170, 73);
    font-size: 3rem;
    margin-bottom: 2rem;
}
  
.about__caption {
    font-size: 1.3rem;
    text-align: justify;
}


// ABOUT CAROUSEL

.about__carousel-container {
    background-color: red;
    border-radius: 1rem;
}