/* 
*
* 
* FIND US SECTION
*
*
*/

.section__find-us {
  height: 100%;
  overflow: hidden;
  position: relative;
  min-height: calc(100vh - 60.1333px);

  @include respon(desktop) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15rem 8rem 15rem;
  }
}

/* ILLUSTRATION  */

.find-us__illustration-container {
  // max-width: 20.678rem;
  margin: auto;
  /* background-color: teal; */
  padding: 1.5rem;
  width: 65%;

  @include respon(desktop) {
    padding: 0 3rem 0 0;
    margin: 0;
    max-width: 35rem;
    width: unset;
  }
}

.find-us__illust {
  width: 100%;
  height: auto;
}

/*  */

/* FIND US CONTAINER  */

.find-us__content {
  padding: 0 1.6rem;

  @include respon(desktop) {
    padding: 0;
  }
}

.find-us__content--main {
  margin-bottom: 2rem;
}

.find-us__content-container {
  margin-bottom: 4rem;

  @include respon(desktop) {
    margin-bottom: unset;
  }
}

.find-us__title {
  font-weight: 700;
  color: rgb(40, 170, 73);
  font-size: 3rem;
  margin-bottom: 2rem;

  @include respon(desktop) {
    font-size: 3.5rem;
  }
}

.find-us__caption {
  font-size: 1.3rem;

  @include respon(desktop) {
    font-size: 1.5rem;
  }
}

.find-us__address {
  margin-bottom: 2rem;
}

.find-us__email {
  margin-bottom: 10rem;
}

.find-us__address-title,
.find-us__email-title {
  font-size: 1.32rem;
  font-weight: 700;
  color: #808080;

  @include respon(desktop) {
    font-size: 1.5rem;
  }
}

.find-us__address-caption,
.find-us__email-caption {
  margin: 0;
  font-size: 1.3rem;

  @include respon(desktop) {
    font-size: 1.5rem;
  }
}

.find-us__address-link {
  color: rgb(40, 170, 73);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.3rem;

  &:hover {
    color: rgb(37, 185, 74);
    text-decoration: none;
  }

  @include respon(desktop) {
    font-size: 1.5rem;
  }
}

.find-us__circle--md {
  background-color: rgb(255, 214, 51);
  border-radius: 50%;
  width: 16.9rem;
  height: 16.9rem;
  position: absolute;
  transform: translate(-50%, -75%);
  top: 100%;
  left: 85%;

  @include respon(desktop) {
    width: 25rem;
    height: 25rem;
    left: 95%;
  }
}

/* SECTION FOOTER MIN */
// pindah ke components
